<main class="container">
    <section class="row">
        <section class="col-12">
            
            {{!-- Main jumbotron --}}
            <section class="jumbotron mt-4 text-center">
                <img id="burger-man" alt="man eating a burger" class="img-fluid"
                    src="/assets/images/burger-man.png" />
                <h1>Burger Banquet</h1>
                <p class="lead my-4">Let's eat some burgers!</p>
                {{!-- Add a burger to the DB --}}
                <form id="add-burger">
                    <section class="form-group">
                        <input class="form-control" type="text" id="add-burger-text" placeholder="Enter a burger" name="add"></input>
                    </section>
                    <button id="add-btn" type="submit" class="btn btn-light btn-lg">
                        Add that Burger!
                    </button>
                </form>
            </section>

        </section>
    </section>

    {{!-- Menu and Devoured lists --}}
    {{> lists}}

</main>

