
<main class="container">
    <section class="jumbotron mt-5 text-center">
        <img id="burger-man" alt="man eating a burger" class="img-fluid" src="../public/assets/images/burger-man.png" />
        <h1>Burger Banquet</h1>
        <p class="lead my-4">Let's eat some burgers!</p>
        
        
        <button id="add-btn" class="btn btn-primary btn-lg" role="button">Add a Burger</button>
    </section>
</main>



