
<main class="container">
  <section class="row">
      {{!-- Main jumboron --}}
      <section class="col-12">
            <section class="jumbotron mt-4 text-center">
                <img id="burger-man" alt="man eating a burger" class="img-fluid" src="../public/assets/images/burger-man.png" />
                <h1>Burger Banquet</h1>
                <p class="lead my-4">Let's eat some burgers!</p>
                {{!-- Data entry form --}}
                <form>
                    <section class="form-group">
                        <textarea class="form-control" id="burger-text" rows="1" placeholder="Enter a burger"></textarea>
                    </section>
                    <button id="add-btn" class="btn btn-light btn-lg" role="button">Add that Burger!</button>
                </form>
        
            </section>
      </section>
  </section>

  <section class="row justify-content-around">
      {{!-- Uneaten list --}}
        <section class="col-sm-4">
            <ul id="uneaten" class="list-group-flush">
                {{#each burgers}}
                    {{!-- {{#unless this.devoured}} --}}
                        <li class="list-group-item d-flex flex-row justify-content-between"><span>{{this.burger_name}}</span>
                            <button class="btn btn-success">Devour It!</button>
                        </li>
                    {{!-- {{/unless}} --}}
                {{/each}}
            </ul>
        </section> 

        {{!-- Devoured list --}}
        <section class="col-sm-4">
            <ul id="devoured">
                <li>Test</li>
            </ul>
        </section>

  </section>

</main>



