
<main class="container">
    <section class="jumbotron mt-4 text-center">
        <img id="burger-man" alt="man eating a burger" class="img-fluid" src="../public/assets/images/burger-man.png" />
        <h1>Burger Banquet</h1>
        <p class="lead my-4">Let's eat some burgers!</p>
        
        <form>
            <section class="form-group">
                <textarea class="form-control" id="burger-text" rows="1" placeholder="Enter a burger"></textarea>
            </section>
            <button id="add-btn" class="btn btn-light btn-lg" role="button">Add a Burger</button>
        </form>

    </section>
</main>



