/* Google Fonts */
/****************/

@import url('https://fonts.googleapis.com/css2?family=Fontdiner+Swanky&family=Josefin+Sans&display=swap');

/* Global */
/**********/

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../images/pixel-art-cheeseburger-seamless-background.jpg');
    font-family: 'Josefin Sans', sans-serif;
}

/*** Main ***/
/************/

/* Jumbotron elements */
.jumbotron {
    position: relative;
    background-color: rgb(227, 107, 49);
    box-shadow:2px 2px 10px rgb(105, 105, 105);
}

.jumbotron h1 {
    position: relative;
    z-index: 10;
    font-family: 'Fontdiner Swanky', cursive;
    color: 	rgb(255, 242, 197);
    font-size: calc(64px + 1vw);
    text-shadow:2px 0px 10px rgb(105, 105, 105);
}

.jumbotron p {
    position: relative;
    z-index: 10;
    color: rgb(250, 207, 34);
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-size: 2rem;
}

#add-burger-text {
    position:relative;
    z-index: 10;
    max-width: 300px;
    margin: 0 auto;
}

#add-btn {
    position: relative;
    z-index: 10;
}

#burger-man {
position: absolute;
right: 0;
bottom: 0;
min-width: 33%;
width: calc((25em - 100%) * 1000);
max-width: 100%;
}

/*** Lists ***/
/*************/

.list-heading {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    background-color: rgba(255, 242, 197, .3);
    color: rgb(77, 40, 0);
    font-size: 50px;
     text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white, 0 0 1px white;
    border-radius: 10%;
    display: inline-block;
}

/*** Footer ***/
/**************/

footer {
    position: absolute;
    text-align: end;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color:rgb(80, 80, 80)
}

footer a:hover{
    text-decoration: none;
    color: rgb(227, 107, 49);
}

/*** Media Queries ***/
/*********************/

@media (max-width: 768px){
    .jumbotron{
        min-height: 80vh;
    }

    .jumbotron p {
        display: none;
    }

    #devoured-list li {
        padding: 6px 10px;
        font-size: 12px;
    }

    #devoured-list li button {
        font-size: 14px;
    }

    .list-container {
        padding: 0 5px;
    }


    footer{
        position: static;
    }
}

@media (max-width: 320px){
    .jumbotron h1 {
        font-size: calc(50px + 1vw);
    }

    .jumbotron p {
        font-size: 1.5rem;
    }
}